{% extends "base.html" %}
<!--wrapper start-->
<div class="wrapper" id="wrapper">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

{% block navbar %}
<!-- navbar start-->
<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#home">Top</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#groups">Groups</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<!--home section-->
<div class="container section vertical-align" id="home">
  <div class="row">
    <div class="col-md-8">
      <h1>Hello there!</h1>
      <p class="text-justify">Welcome to my personal space, I am a <strong>data scientist and machine learning engineer</strong> with over 6 years of experiences and a background in physics and computer science. I enjoy working with data, machine learning, web programming and physics. I am excited about new discoveries in the area of ​​artificial intelligence and always willing to collaborate in interesting proyects. Currently living in Mexico City 🌮</p>
      <p><a class="btn btn-lg" href="#contact" role="button">Let's talk!</a></p>
    </div>
  </div>
</div>

<!--about section-->
<div class="container section vertical-align" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <h1>About me.</h1>
      <p class="text-justify">I was born in <strong>Monterrey, México.</strong> Graduated with a B.E. degree in Engineering Physics from Monterrey Institute of Technology and Higher Education, and later acquired a masters degree in Computer Science.</p> 
      <p class="text-justify">I'm a Python programmer with experience in data extraction, data parsing/filtering, data viz, unsupervised/supervised learning, machine learning, modeling and feature selection. Ability to develop and implement models and algorithms to large a scale production environment in the cloud.</p>
      <p class="text-justify">I'm currently working as a Data Scientist for <a href="https://www.rappi.com.mx/">RAPPI</a> in México City</p>
    </div>
  </div>
</div>

<!--work section-->
<div class="container section vertical-align" id="work">
  <div class="row">
    <div class="col-md-8">
      <h1>Work.</h1>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://ieeexplore.ieee.org/abstract/document/7366213/"><p>A smart grid electricity market with multiagents, smart appliances and combinatorial auctions</p></a>
            <p>R. F. Brena, C. W. Handlin and P. Angulo, 2015 IEEE First International Smart Cities Conference (ISC2), Guadalajara, 2015, pp. 1-6.</p>
          </li>
          <li class="list-group-item">
            <a href="https://www.amazon.com.mx/Hundred-Page-Machine-Learning-Book-espa%C3%B1ol-ebook/dp/B07YRZWD98"><p>The Hundred-Page Machine Learning Book en español</p></a>
            <p>Spanish translation of the book The Hundred-Page Machine Learning Book by the author Andriy Burkov</p>
          </li>
          <li class="list-group-item">
            <a href="https://datoscovid.mx/"><p>Evolución de Covid-19 en México</p></a>
            <p>Participation in datoscovidmx collective to track and monitor covid cases in México</p>
          </li>
        </ul>
    </div>
  </div>
</div>

<!--blog section-->
<div class="container section vertical-align" id="blog">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <h1>Recent posts.</h1>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://es.slideshare.net/CarlWHandlin/open-source-dataviz-with-apache-superset"><p>Open Source DataViz with Apache Superset</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://public.tableau.com/views/EarthquakesinMxico/EarthquakesMap?:language=en&:display_count=y&:origin=viz_share_link"><p>Earthquakes in Mexico: A view of the occurrences of earthquakes in Mexico using data from the SSN (National Seismological Service) from the years 1990 to 2018</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://public.tableau.com/views/PreciopromediomZonaMetropolitanadeMonterrey/MapapreciomDashboard?:language=en&:display_count=y&:origin=viz_share_link"><p>Precio promedio m² Zona Metropolitana de Monterrey</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://public.tableau.com/views/PreciopromediomCDMX/MapapreciomDashboard?:language=en&:display_count=y&:origin=viz_share_link"><p>Precio promedio m² CDMX</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://es.slideshare.net/CarlWHandlin/entrega-continua-para-aprendizaje-automatico-utilizando-aws-sagemaker"><p>Entrega Continua para Aprendizaje Automático utilizando AWS SageMaker</p></a>
          </li>
        </ul>
    </div>
  </div>
</div>

<!--groups section-->
<div class="container section vertical-align" id="groups">
  <div class="row">
    <div class="col-lg-12">
      <h1>Groups.</h1>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://www.facebook.com/groups/469523539899326/"><p>Data Science & Engineering Monterrey (Former organizer)</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://www.facebook.com/thedatapub/"><p>The Data Pub (Organizer)</p></a>
          </li>
          <li class="list-group-item">
            <a href="https://es-la.facebook.com/datalabmx/"><p>DataLab Community</p></a>
          </li>
        </ul>
    </div>
  </div>
</div>

<!--contact section-->
<div class="container contact" id="contact">  
  <div class="row">
    <div class="col-lg-12">
      <h1>Let's have a beer 🍺!</h1>
      <a title="" href="mailto:cwallaceh@gmail.com" rel="external"><i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<!--footer-->
<footer class="footer">
  <div class="container">
    <ul class="social">
      <li><a title="" href="https://www.facebook.com/groups/469523539899326/" rel="external">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a></li>
      <li><a title="" href="https://www.linkedin.com/in/carlhandlin/" rel="external">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a></li>
      <li><a title="" href="https://github.com/cwallaceh" rel="external">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a></li>
      <li><a title="" href="https://twitter.com/handlin_w" rel="external">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a></li>
    </ul>
    <p><small>&#9400; {{ year }} Carl W. Handlin, Designed and Coded in CDMX ❤️</small></p>
  </div>
</footer>
{% endblock %}

</div>